body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #626058;
  font-family: Arial, sans-serif;
}

.game-box {
  background: #7b6f6f;
  padding: 30px;
  border-radius: 12px;
  width: 320px;
  text-align: center;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

input {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  background: #333;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.message {
  margin-top: 15px;
  font-weight: bold;
}
